body {
  background: black;
  background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/low_contrast_linen.png);
}

*:focus {
  border: none;
  outline: none;
}

.binary > li {
  width: 50%;
  text-align: center;
}

.binary > li > a {
  margin: 0px;
}

.voting {
  border-bottom: 1px solid #999;
  margin-bottom: 4px;
}

.voting li:first-child a {
  border-right: 1px solid #999;
}

.voting > li > a {
  border-radius: 0;
  position: relative;
}

.voting > li > a h6 {
  color: white;
  text-shadow: 0 1px 0px #333;
  margin: 0;
}

.voting > li > a:hover {
  background: rgba(255, 255, 255, 0.5);
}

.voting > li > a:hover h6 {
  color: #333;
  text-shadow: 0 1px 0px #ccc;
}

.voting > li > a > i {
  margin-bottom: 8px;
}

.content {
  text-align: center;
  color: #ccc;
  padding: 8px;
  font-size: 12px;
}

.bottom-toolbar .btn {
  border-radius: 0;
}

/* Voting animations */
@-webkit-keyframes voted {
   from { 
     -webkit-transform: scale(1.0);
     top: 15px;
   }
   to   { 
     -webkit-transform: scale(0.5); 
     top: 2px;
   }
}

.img-voted {
  position: absolute;
  z-index: 1;
  border: 0;
  top: 15px;
  left: 20px;
}

.voted > .img-voted {
  -webkit-animation-name: voted;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease; /* ease is the default */
  -webkit-animation-delay: 0;             /* 0 is the default */
  -webkit-animation-iteration-count: 1;    /* 1 is the default */
  -webkit-animation-direction: alternate;  /* normal is the default */
  -webkit-transform: scale(0.5);
  top: 2px;
}
